pre span.red {
    color: red;
}
.pre {
    display: block;
    padding: 9px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 1em 0em;
    color: #333333;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

.non-pre {
    white-space: normal;
}